body {
    /* background-color: #f2f2f2; */
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #0066cc;
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  button {
    margin: 10px;
    font-size: 20px;
  }