
#catHeader {
    display:flex;
    font-size: 2.5rem;
  }
  
  input[type="text"] {
    font-size: 1.25rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid rgb(153, 115, 115);
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  #catProfile {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom:  rgb(153, 115, 115) 2px solid;
  }
  
  #catProfile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: rgb(153, 115, 115) 2px solid;
    border-radius: 25px;
  }
  
  #catProfile h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  #catProfile p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight:bolder;
  }
  
  #SingleProductsLink {
    font-size: 1.25rem;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    border: 1px solid #333;
    width: 13%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
  }
  
  #SingleProductsLink:hover {
    background-color: rgb(153, 115, 115);
    color: #fff;
  }

  #cartLink{
    font-size: 1.25rem;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    border: 1px solid #333;
    width: 13%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
  }

  #cartLink:hover{
    background-color: rgb(153, 115, 115);
    color: #fff;
  }
  
  p.no-cats {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
  }
  