
#catHeader {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  
  input[type="text"] {
    font-size: 1.25rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #ccc;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  
  #catProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  #catProfile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  #catProfile h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  #catProfile p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  #link {
    font-size: 1.25rem;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    border: 1px solid #333;
    /* border-radius: 5px; */
    /* transition: all 0.3s ease-in-out; */
  }
  
  #link:hover {
    background-color: #333;
    color: #fff;
  }
  
  p.no-cats {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
  }
  