
#catHeader {
    display:flex;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2.5rem;
  }
  
  .searchbar {
    font-size: 1.25rem;
    padding: 0.5rem;
    border: none;
    border-bottom: 3px solid rgb(145, 129, 138);
    width: 100%;
    margin-bottom: 1.5rem;
    background-color: rgb(235, 220, 203);
  }
  
  #catProfile {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-bottom:  rgb(145, 129, 138) 2px solid;
  }
  
  #catProfile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: rgb(145, 129, 138) 2px solid;
    border-radius: 25px;
  }
  
  #catProfile h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  #catProfile p {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight:bolder;
  }
  
  #SingleProductsLink {
    font-size: 1.25rem;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    border: 2px solid #333;
    width: 13%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: rgb(178,163,181);
  }
  
  #SingleProductsLink:hover {
    background-color: rgb(145, 129, 138);
    color: #fff;
  }

  #cartLink{
    font-size: 1.25rem;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    border: 2px solid #333;
    width: 13%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: rgb(178,163,181);
  }

  #cartLink:hover{
    background-color: rgb(145, 129, 138);
    color: #fff;
  }
  
  p.no-cats {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
  }


#pagination {
  width: 100%;
  word-spacing: 7rem;
}
.pagination-container {
  display: flex;
  justify-content: center;
  width: 100%;
  word-spacing: 7rem;

}

.previous-page {
  margin: 0 30px;
  padding: 5px 10px;
  background-color: rgb(145, 129, 138);
  border-radius: 5px;
  color: black;
}
.next-page {
  margin: 0 30px;
  padding: 5px 10px;
  background-color: rgb(145, 129, 138);
  border-radius: 5px;
  color: black;
}

/* .disabled-item {
  opacity: 0.5;
  pointer-events: none;
} */

.active-page {
  background-color: rgb(145, 129, 138);
  color: #fff;
}

  