body{
  background-color: rgb(235, 220, 203);
}


#home {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    height: 100vh;
  }

#homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 100%;
}

  
  #catHomepage {
    display: flex;
    justify-content: center;
    border:rgb(145, 129, 138) solid 30px;
    border-radius: 5%;
  }
  
  #catMeme {
    width: 100%;
    max-width: 500px;
  }
  
  .homeContent {
    text-align: center;
    max-width: 600px;
    margin-top: 2rem;
  }
  
  .homeContent h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  #loginHyperlink,
  #registerHyperlink {
    flex-wrap: wrap;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    border: 2px solid #333;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    background-color: rgb(152, 122, 139);
    margin-left: 2%;
    margin-right: 2%;
  }
  
  #loginHyperlink:hover,
  #registerHyperlink:hover {
    background-color: rgb(235, 220, 203);
    color: #333;
  }
  