/*#867070 #d5b4b4 #e4d0d0 #f5ebeb*/
/* #home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    border: 1px solid red;
    height: 98vh;
    width: 100%;
}
.homeContent{
    display: flex;
    width: 50%;
    flex-flow: column wrap;
    border: 1px black;
    justify-content: center;
    background-color: #f5ebeb;
    padding:4%;
  
}
#loginHyperlink{
    color: blue;
}
#registerHyperlink{
    color: blue;
}
#catMeme{
    /* display: flex; */
    /* display: block;
    margin-left: auto;
    margin-right: 60%;
    max-width: 40%;
    max-height: 40%;
    align-self: center;
    border-bottom: 70%;
    background-color: #f5ebeb;

}
.catHomepage {
    display: flex;
    width: 50%;
    flex-direction: column;
    border-color:2px solid black ;
} */ 


#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    height: 100vh;
    background-color:rgb(235, 220, 203);
  }

#homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: .5rem;
    margin-bottom: 2rem;
    background-color: rgb(145, 129, 138);
    width: 100%;
}

  
  #catHomepage {
    display: flex;
    justify-content: center;
  }
  
  #catMeme {
    width: 100%;
    max-width: 500px;
    border-radius: 2%;
  }
  
  .homeContent {
    text-align: center;
    max-width: 600px;
    margin-top: 2rem;
  }
  
  .homeContent h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  #loginHyperlink,
  #registerHyperlink {
    flex-wrap: wrap;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    border: 2px solid #333;
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    /* background-color: rgb(178,163,181); */
    background-color: rgb(235, 220, 203);
    margin-left: 2%;
    margin-right: 2%;
  }
  
  #loginHyperlink:hover,
  #registerHyperlink:hover {
    background-color: rgb(152, 122, 139);
    color: #fff;
  }
  