
#mainHeaderNavbar{
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(145, 129, 138);
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
#headerNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #333;
    width: 50%;    
    background-color: rgb(235, 220, 203);
}

#homeNavbar,
#allCatsNavbar,
#logoutNavbar,
#loginNavbar
{
    color: #333;
    text-decoration: none;
    margin-left: 1rem;
    background-color: rgb(235, 220, 203);

}

#homeNavbar:hover,
#allCatsNavbar:hover,
#logoutNavbar:hover,
#loginNavbar:hover
{
    text-decoration: underline;
}

#cartImgNavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    
}
#cartImg{

    max-width: 20%;
    max-height: 20%;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
#catLogo{
    display: flex;
    float: left;
    margin-right: auto;
    width: 10%;
    height: 10%;
}