#mainHeaderNavbar{
    display: flex;
    border: 1px solid black;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
#headerNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    width: 50%;    
    background-color: #f5ebeb;
}
#homeNavbar,
#allCatsNavbar,
#loginNavbar
{
    color:blue;
    text-decoration: none;
    margin-left: 1rem;

}
#cartImgNavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    
}
#cartImg{

    max-width: 20%;
    max-height: 20%;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
