
#mainHeaderNavbar{
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    /* background-color: rgb(214, 164, 245); */
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
#headerNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid blue;
    width: 50%;    
    /* background-color: #f5ebeb; */
    background-color: rgb(235, 220, 203);
}
#homeNavbar,
#allCatsNavbar,
#logoutNavbar,
#loginNavbar
{
    color:blue;
    text-decoration: none;
    margin-left: 1rem;
    background-color: rgb(235, 220, 203);

}
#cartImgNavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    
}
#cartImg{

    max-width: 20%;
    max-height: 20%;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
#catLogo{
    display: flex;
    float: left;
    /* justify-content: left; */
    /* align-items: flex-start; */
    margin-right: auto;
    width: 10%;
    height: 10%;
}