#paymentSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paymentHeader {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.paymentForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.paymentBox {
    margin: 10px;
}

#expirationDate {
    display: flex;
    /* width: 60px; */
}

#cvc {
    display: flex;
    /* align-items: center; */
    /* width: 50px; */
}

#paymentButton {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
}