#purchaseCompleteSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
#purchaseCompleteHeader{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    color: black;
}


#orderDetailsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    box-shadow: 5px 5px 5px 5px rgb(145, 129, 138);
    width: 100%;
    color: black;
    border-radius: 10px;
    line-height: 2;

}

#orderImage {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin-right: 40px;
    margin-left: 40px;
    object-fit: cover;
    margin-bottom: 1rem;
    border: rgb(145, 129, 138) 2px solid;
}

#submitOrder {
    background-color: #fff;
    font-size: 1rem;
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    border: rgb(145, 129, 138) 2px solid;
    background-color: rgb(178,163,181);
    margin-bottom: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    
}

#confirmation {
    display: flex; 
    flex-direction: column; 
    color: black; 
    font-size: 30px; 
}